@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Indie Flower');

@backgroundColor: #15171a;
@mainColor: pink;
@blurpleColor: #7289DA;
@mainFont: 'Pacifico';
@secondFont: 'Indie Flower';

body {
    background-color: @backgroundColor;
    justify-content: center;
    text-align: center;
    font-family: @mainFont;
    overflow: hidden;
    white-space: normal;
    margin: 0;
    padding: 0;
    *::-webkit-scrollbar {
        display: none;
      }
    @media (max-width: 768px) {
        overflow: visible;
    }
}

.container {
    color: @mainColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 60px;
}


.icon-container a :hover {
    filter: none;
} 

.icon-container {
    line-height: 1px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 100px;
    overflow: hidden;
    a {
        padding-left: 5px;
        margin: 0 10px;
    }
    @media (max-width: 768px) {
        display: none;
    }
}

.icon-mobile-container {
    display: none;
    @media (max-width: 768px) {
        text-align: center;
        display: contents;
        line-height: 110px;
        overflow: hidden;
        a {
            margin-left: 100px;
            margin: auto;
            &:hover {
                filter: none;
            }
        }

        img {
            text-align: center;
        }
    }
}

#github-effect {
    transition: 0.4s;
    &:hover {
        filter: brightness(0) invert(1);
    }
}

.icon {
    text-decoration: none;
    color: white;
    margin-left: auto;
    float: left;
    position: absolute;
    img {
        color: white;
        filter: brightness(0) invert(0.3);
        width: 40px;
        padding-right: 10px;
        transition: 0.4s;
    }
    @media (max-width: 768px) {
        float: none;
        position: relative;
    }
}

.box {
    border-style: solid;
    border-radius: 10px;
    border-color: transparent;
    background-color: #111214;
    padding: 10px;
    padding-bottom: 0;
    border-width: 12px;
    width: 80%;
    max-width: 600px;
    line-height: 1.2;
    margin-top: 20px;
    transition: 0.4s;
    &:hover {
        color: white;
        background-color: @blurpleColor;
        .pic {
            border-color: white;
        }
    }
}

input {
    background-color: #111214;
    border-color: transparent;
    border-radius: 10px;
    color: @mainColor;
    width: 100%;
    max-width: 300px;
    padding: 12px;
    box-sizing: border-box;
}

input[type=text] {
    &:focus {
        outline: 2px solid @mainColor;
    }
}

.profile {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.pic {
    width: 128px;
    height: 130px;
    border-radius: 100%;
    border: 4px solid @mainColor;
    transition: 0.4s;
}

.user-box {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: 10px; 
    p {
        margin: auto;
    }
}

#user-flags {
    word-break: break-word;
    overflow-wrap: break-word;
}

.button {
    text-align: center;
    font-family: @mainFont;
    background-color: #111214;
    border-color: transparent;
    border-radius: 10px;
    border-radius:6px;
    padding: 20px;
    transition: 0.4s;
    width: 100px;
    max-width: 300px;
    margin: auto;
    margin-top: 12px;
    &:hover {
        color: white;
        background-color: @blurpleColor;
    }
}

.lookup-container {
    font-family: @secondFont;
    margin-top: 20px;
    margin-bottom: auto;
    width: 80%;
    max-width: 600px;
}

.status-container {
    position: relative;
    width: 128px;
    height: 130px;
}

#status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: black;
    border-color: transparent;
    border-radius: 50%;
    z-index: 1;
}

.instruction {
    line-height: 10px;
    color: @mainColor;
}

.footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #111214;
    position: fixed;
    bottom: 0;
    color: @mainColor;
}

.duc {
    @media (max-width: 768px) {
        font-size: 20px;
    }
}

